<%- include('header'), {title:title} %>

    <form method="POST" style="position: relative" action="/users/login">
        <input type="text" required="required" class="input_login_password" id="email" name="email" placeholder="login">
        <input type="password" required="required" class="input_login_password" id="passwordHash" name="passwordHash"
            placeholder="password">
        <button type="submit" class="gradient-button" style="left:-5%">Войти</button>
    </form>
    
    <%- include('end') %>